# Redis Config
REDIS_HOST=redis
REDIS_PORT=6379

# Failure Simulation (for stage 1)
SIMULATE_FAILURE=false
SIMULATE_HTTP_ERROR_CODE=429

# Retries
MAX_PUBLICATION_ATTEMPTS=3

# Backoff Config
BACKOFF_DELAY_SECONDS=5

# Database
DB_NAME=database.sqlite
